.cor-padrao{
    background-color: #10375C;
}
.texto-cor{
    color: #10375C;


}
.btn-padrao{
        background-color: #10375C;
        color: white;
        font-size: large;
}
.bg-form{
    background-color: #FAF4FF;
}
.logo-img{
    width: 18%;
}