<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
       <!-- Fontes -->
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
   
       <!-- Bootstrap  -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
       <!-- CSS -->
    <link rel="stylesheet" href="../css/ver-vagas.css">
    <title>Ver vagas</title>
</head>
<body>
    <header>
        <div class="pos-f-t">
            <nav class="navbar navbar-dark cor-padrao px-3">
                <img src="../img/logo.png" style="width: 5%" />
                <button class="navbar-toggler mx-3 py-1" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon  text-right"></span>
                </button>
            </nav>
        </div>
    </header>
    <main>
         
        <section class="container-fluid bg-banner">
            <h2 class="text-center titulo py-3 border-bottom mx-5 pt-4">VEJA OPORTUNDADES!</h2>
            <div class = "text-center mt-4">
                <img class="img-fluid"  src="../img/veja-oportunidades.png" alt="">
            </div>
        </section>
     
        <section class="col-lg-10 container form-group p-5">
            
            <div class="col-lg-12 shadow p-5  mb-5 bg-form rounded sticky-center ">
               <article class="bg-secudario m-3 p-5">
                   <section class="">
                        <h3 class="titulo-vagas"></h3>
                        <h4 class="subtitulo-vagas ">DESCRIÇÃO</h4>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur ea facere vitae illum culpa! Eos voluptate sunt ad numquam neque aperiam odio quibusdam corrupti id. Distinctio ut impedit assumenda?
                        Perspiciatis veritatis officiis saepe esse beatae deleniti magnam velit quasi in, reiciendis id eveniet recusandae deserunt perferendis, laboriosam, asperiores reprehenderit sunt? Rem quo assumenda recusandae ad unde officia, dolor expedita.
                        Magni corporis quo fugiat repellendus repudiandae voluptatem suscipit iure ullam odit impedit, totam eos maiores nemo dolorem sed eaque, sapiente est ex. Dolore omnis eius, tempora mollitia perspiciatis incidunt obcaecati?
                        Veniam nulla vero architecto repellat possimus vel inventore consectetur asperiores sunt minus natus nemo, ea beatae corrupti aliquam iure nesciunt? Nam unde non aliquam quaerat dignissimos expedita possimus quae atque?
                        Mollitia fugiat quas sapiente veniam error, aspernatur molestias id earum amet magnam sequi eaque odit accusamus porro inventore corporis ipsam doloremque corrupti dolore culpa? Pariatur suscipit sunt labore neque distinctio.
                        Nihil et eligendi, autem officiis magni vitae consectetur aperiam? Labore incidunt deleniti eos repellendus accusamus modi perspiciatis sunt totam ut eligendi id iste nisi quasi repudiandae nihil, optio consequatur libero.</p>

                    
                        <h4 class="subtitulo-vagas ">BENEFÍCIOS</h4>
                        <p class="beneficios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam debitis excepturi et ducimus voluptates esse aliquid quam odit. Sed reiciendis deserunt aut explicabo similique officiis saepe nostrum odit id vitae!
                        Sit veniam vero porro cum repudiandae molestiae voluptatibus vitae, architecto voluptate, modi corrupti ut aut! Iure, quam? Repellendus excepturi, corrupti distinctio aliquam corporis, minima expedita quidem mollitia sint provident reiciendis!</p>

                        <div class="row justify-content-center">
                            <div class="col-4  ">
                                <h4 class="subtitulo-vagas ">LOCAL</h4>
                                <p class="local">Lorem ipsum dolor sit</p>
                            </div>
                            <div class="col-4 ">
                                <h4 class="subtitulo-vagas ">REMUNERAÇÃO</h4>
                                <p class="remuneracao">Lorem ipsum dolor sit.</p>
                            </div>
                            <div class="col-4 ">
                                <h4 class="subtitulo-vagas ">HORÁRIO</h4>
                                <p class="horario">Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                       
                            <div class="form-row my-5">
                                <div class="col-lg-8 pt-3 mx-auto text-center">
                                    <h4 class="subtitulo-vagas ">DATA DE EXPIRAÇÃO</h4>
                                     <p class="data-expiracao">Lorem ipsum dolor sit.</p>
                                </div>
                            </div>

                            <div class="form-row ">
                                <div class="col-lg-8 pt-3 mx-auto text-center">
                                    <button type="button" class="btn btn-primary px-4 text-center">Candidatar-se</button>
                                </div>
                            </div>



                            

                   </section>
               </article>
            </div>
        </section>
    </main>

    <footer class="container-flex">
        <aside class="footer-midias text-center">

            <a href="#">
                <img src="../img/Facebook.svg" alt="">
            </a>
            <a href="#">
                <img src="../img/Instagram.svg" alt="">
            </a>
            <a href="#">
                <img src="../img/LinkedIn .svg" alt="">
            </a>
            <a href="#">
                <img class="gmail" src="../img/Gmail.svg" alt="">
            </a>
          </aside>
    </footer>
<!-- Bootstrap  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>